
/*

TODO: practicas icon doesnt have a cursor when hovering over icon
TODO: change submenu items look, just a blue bottom border, 
but find a way to keep the rounded corners when it's not active
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    width: 100%;
    /*TODO: change color after testing future components*/
    background-color: #ffffff;
}

/* Navigation bar */
.navigation-bar {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-bottom: 0px;
    /*TODO: border under navbar is optional?*/
    border-bottom: 1px solid #e9eaec;
}

.navigation-bar .website-name {
    width: 100%;
    height: 45px;
    color: #00356b;
    display: flex;
    align-items: center;
}

.navigation-bar .website-name #toggle-sidebar {
    min-width: 40px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 15px;
}

.navigation-bar .website-name span {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 35px;
    font-size: 25px;
}

#search-icon {
    margin-left: 2px;
    font-size: 15px;
    color: #00356b;
}

.search-box {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline-secondary {
    border-color: rgb(222,226,230);
}

.btn-outline-secondary:hover {
    background-color: #2b5177;
}

.btn-outline-secondary:hover #search-icon {
    color: #ffffff;
}

.search-box input {
    width: 300px;
}
.search-box input:focus {
    border-color: #00356b;
    box-shadow: 0 0 0 2px #cadae7;
    outline: none;
}

/* Profile */
.profile {
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

.profile,
.profile button,
.profile a {
    color: #00356b;
}

.profile .dropdown-item:active {
    background-color: #00356b;
    color: white;
}

.profile .dropdown-item:hover {
    background-color: #e9eaec;
    /* background-color: rgb(222,226,230); */
    color: #00356b;
}

/* Navigation bar <600px */
.navigation-bar-min-ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#navigation-bar-min-li {
    border-bottom: 1px solid #dce0e8;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #ffffff;
}

#navigation-bar-min-li a {
    text-decoration: none;
}

#navigation-bar-min-li:hover {
    background-color: #00356b;
}

#navigation-bar-min-li:hover a span {
    color: white;
}

.navigation-bar-min {
    width: 100%;
    margin-top: 15px;
}

.navigation-bar-min span {
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: center;
    color: #00356b;
}

/* Sidebar */
.sidebar {
    margin-top: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease, margin-right 0.5s ease;
    z-index: 50;
    /*TODO: border to the right is optional?*/
    border-right: 1px solid #e9eaec;
}

.sidebar span {
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    padding-left: 15px;
}

.sidebar span.hide {
    opacity: 0;
    width: 0;
}

/* Sidebar menu items*/
.sidebar .menu-items {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .menu-items::-webkit-scrollbar {
    width: 5px;
}

.sidebar .menu-items::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
}

.sidebar .menu-items::-webkit-scrollbar-thumb:hover {
    background-color: rgb(134, 134, 134);
}

.sidebar .menu-items #menu-items-ul {
    margin: 0;
    padding: 0;
}

.sidebar .menu-items a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: #00356b;
    padding-left: 17px;
}

.sidebar .menu-items a:hover {
    background-color: #00356b;
    color: #ffffff;
}

.sidebar .menu-items i {
    padding-left: 15px;
    margin-right: 10px;
    min-width: 30px;
    font-size: 20px;
}


.sidebar-min {
    width: 80px;
}

/* Main content */
.main-content {
    margin-left: 250px;
    padding-top: 100px;
    transition: margin-left 0.5s ease;
}

.main-content .main-content-min {
    margin-left: 80px;
    padding-left: 30px;
}

/* Window size <600px */
@media (max-height: 660px) {
    .sidebar .website-name {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        left: -250px;
    }

    .main-content {
        margin-left: 0;
        padding-left: 30px;
    }

    .main-content .main-content-min {
        margin-left: 0;
    }

    .search-box input,
    .search-box button,
    .search-box i {
        display: none;
    }
}

/* Buttons */
.btn-primary {
    background-color: #00356b;
    border-color: #00356b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0e2950;
    border-color: #0e2950;
}

/* Prácticas submenu */

.submenu ul {
    list-style-type: none;
    padding-left: 0;
}

.submenu li {
    margin-bottom: 5px;
}

.submenu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00356b;
    padding: 10px 15px;
}

.submenu i {
    margin-right: 10px;
}

.submenu-item {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.submenu-item.visible {
    height: 45px;
}

.submenu-item a {
    display: flex;
    align-items: center;
}

.has-submenu {
    position: relative;
}

.has-submenu.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.has-submenu {
    position: relative;
}

.has-submenu.active::after {
    transform: translateY(-50%) rotate(180deg);
}

/* Toggle animations  */
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}